body{
  overflow-x:hidden;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  font-weight: 700;
}

.navbar {
  background-color: #fff !important;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
/* .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
} */

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

#about{
    background-color: #F7F8F9;
}

.top-button{
  background: #fff;
  position: fixed;
  right: 50px;
  bottom: 40px;
  z-index: 3;
  width: 56px;
  height: 56px;
}

.img-top{
  margin-top: 14px;
  margin-left: 14px;
}

li>a{
  color: #fff;
  text-decoration: none;
}